<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <header>
            <div class="container">
                <div class="header_left">
                    <h1>CEFIM</h1>
                </div>
                <div class="header_right">
                    <nav>
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Salles</a></li>
                            <li><a href="#">Cours</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    {% endblock %}
        {% block body %}{% endblock %}
    {% block footer %}
        <footer>
            <div class="container">
                <div class="footer_left_content">
                    <a href="https://www.facebook.com/cefimformation/"><img src="{{ asset('images/facebook.png') }}" alt=""></a>
                    <a href="https://twitter.com/cefimformation"><img src="{{ asset('images/twitter.png') }}" alt=""></a>
                    <a href="https://www.linkedin.com/school/cefim/?originalSubdomain=fr"><img src="{{ asset('images/linkedin.png') }}" alt=""></a>
                </div>
                <div class="footer_right_content">

                </div>
            </div>
        </footer>
    {% endblock %}
    </body>
</html>
