{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}

    <section class="edit-profile">
        <h2>Modifier mes informations de profil</h2>

        {{ form_start(user_form) }}
        <div id="form-container">
            <div class="cont-flex">
                {{ form_row(user_form.firstname) }}
                {{ form_row(user_form.lastname) }}
            </div>

            {{ form_row(user_form.phone) }}
            <div class="resume-div">
                {{ form_row(user_form.resume) }}
            </div>

            <div class="button-div">
                {{ form_row(user_form.submit) }}
            </div>

        </div>
        {{ form_end(user_form) }}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </section>


{% endblock %}
